.section-about {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  padding-bottom: 35rem;
  margin-top: -10vh;

  @include respond(tab-land) {
    padding-bottom: 30rem;
  }

  @include respond(tab-port) {
    padding: 10rem 0;
    margin-top: -10vh;
  }
}

.section-features {
  // margin-top: 10vh;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.2),
      rgba($color-primary, 0.9)
    ),
    url(../img/features-hoop.jpg);
  background-size: cover;
  background-position: center;

  // transform: skewY(-7deg);
  // margin-top: -11rem;

  // select direct child of element
  // & > * {
  //   transform: skewY(7deg);
  // }

  @include respond(tab-land) {
    padding: 30rem 0;
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-projects {
  background-color: $color-grey-light-1;
  padding: 15rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: auto;
    grid-gap: 2rem;
    padding: 2rem;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
